</main>
    
<!-- nav-right -->
<div class="sidebar">
  <div class="com-btns">
    <div id="signup"><a href="/signUp"><span class="fas fa-user"></span>Login</a></div>
    
    <div id="logout"><a href="#"><span class="fas fa-sign-in-alt"></span> Logout</a></div>
  </div>
  <hr>
  <ul class="sidebar-list">
    <li class="sidebar-item"><a class="sidebar-anchor" href="/">Home</a></li>
    <li class="sidebar-item"><a class="sidebar-anchor" href="/introduce">Help us know you</a></li>
    <li class="sidebar-item"><a class="sidebar-anchor" href="/gallery">Gallery</a></li>
    
    <li class="sidebar-item" id="quiz"><a class="sidebar-anchor" href="/Quiz">Quiz</a></li>
    <li class="sidebar-item" id="quizAns"><a class="sidebar-anchor" href="/QuizAns">Quiz Answer</a></li>
    <li class="sidebar-item" id="knowSeniors"><a class="sidebar-anchor" href="/seniors">Know your seniors</a></li>
    <li class="sidebar-item"><a class="sidebar-anchor" href="/roadmap">Reach the college</a></li>
  </ul>
  <div class="button inner-button">
    <span class="fas fa-times"></span><div>Close</div>
  </div>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="scripts/navbar.js"></script>
<script src="../scripts/logout.js"></script>
<script src="../scripts/admin.js"></script>
