
  <div class="nav-right visible-xs">
    <div class="button" id="btn">
      <div class="bar top"></div>
      <div class="bar middle"></div>
      <div class="bar bottom"></div>
    </div>
  </div>
  <!-- nav-right -->

    <main>

      <!-- <nav> -->
        <div class="nav-right hidden-xs">
          <div class="button" id="btn">
            <div class="bar top"></div>
            <div class="bar middle"></div>
            <div class="bar bottom"></div>
          </div>
        </div>
      <!-- </nav> -->