*{
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;

}
   .gallery-title h1{
     text-align: center;
     font-size: 50px;
     color: black;
     border-bottom: 5px solid black;
     margin-left: 10%;
     margin-right: 10%;
     padding-bottom: 20px;
     /* line-height: 5%; */
     font-family: 'Raleway', sans-serif;
    }
    
    
    body {
      margin: 0px;
   }

   .container {
     display: grid;
     grid-template-columns: 1fr;
   }

   .nav-wrapper {
     display: flex;
     justify-content: center;
     padding: 38px;
   }

   .left-side {
     display: flex;
   }

   .nav-wrapper > .left-side > div {
     margin-right: 20px;
     text-transform: uppercase;
     font-size: 0.9rem;
   }

   .nav-link-wrapper {
     height: 22px;
     border-bottom: 1px solid transparent;
     transition: border-bottom 0.5s;
   }

   .active-nav-link {
     border-bottom: 1px solid black;
   }

   .active-nav-link a {
     color: black !important;
   }

   .nav-link-wrapper a {
     color: #8a8a8a;
     text-decoration: none;
     transition: color 0.5s;
   }

   .nav-link-wrapper:hover {
     border-bottom: 1px solid black;
   }

   .nav-link-wrapper a:hover {
     color: black;
   }

   .portfolio-items-wrapper {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
   }

   .portfolio-item-wrapper {
     position: relative;
   }

   .portfolio-img-background {
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 350px;
     width: 100%;
     text-align: center;
   }

   .img-text-wrapper {
     position: absolute;
     top: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100%;
     text-align: center;
     padding-left: 100px;
     padding-right: 100px;
   }

   .img-text-wrapper .subtitle {

     font-size: 1.5rem;
     -webkit-transform: rotateY(-149deg) scale(0.3) skewX(-74deg) skewY(22deg);
-moz-transform: rotateY(-149deg) scale(0.3) skewX(-74deg) skewY(22deg);
-ms-transform: rotateY(-149deg) scale(0.3) skewX(-74deg) skewY(22deg);
-o-transform: rotateY(-149deg) scale(0.3) skewX(-74deg) skewY(22deg);
transform:  rotateY(-149deg) scale(0.3) skewX(-74deg) skewY(22deg);
     font-weight: 600;
     transition: 1s;
     color: transparent;
   }

   .image-blur {
     transition: 1s;
     filter: brightness(10%);
   }

   .img-text-wrapper:hover .subtitle {
    -webkit-transform: skewX(0deg) skewY(0deg) scale(1) rotateY(0);
    -moz-transform: skewX(0deg) skewY(0deg) scale(1) rotateY(0);
    -ms-transform: skewX(0deg) skewY(0deg) scale(1) rotateY(0);
    -o-transform: skewX(0deg) skewY(0deg) scale(1) rotateY(0);
    transform:  skewX(0deg) skewY(0deg) scale(1) rotateY(0);
     color: white;
     cursor: pointer;
     font-size: 1.5rem;
     font-weight: 600;
   }

   .logo-wrapper img {
     width: 50%;
     margin-bottom: 20px;
   }

   .two-column-wrapper {
     display: grid;
     grid-template-columns: 1fr 1fr;
   }

   .profile-image-wrapper img {
     width: 100%;
   }

   .profile-content-wrapper {
     padding: 30px;
   }

   .profile-content-wrapper h1 {
    color: white;
   }
   .gallery-title h1{
        padding-top: 20px;
         padding-bottom: 20px;
   }
   @media only screen and (max-width: 800px) {
     *{
       box-sizing: border-box;
     }
     body{
       height: 100%;
       width: 100%;

     }
        .gallery-title h1{
          text-align: center;
          font-size: 50px;
          font-family: 'Montserrat', sans-serif;
          color: black;
          border-bottom: 5px solid black;
          margin-left: 10%;
          margin-right: 10%;
          padding-bottom: 20px;
          line-height: 5%;
        }


        body {
          font-family: "Lato", sans-serif;
          margin: 0px;
        }

        .container {
          display: grid;
          grid-template-columns: 1fr;
        }

        .nav-wrapper {
          display: flex;
          justify-content: center;
          padding: 38px;
        }

        .left-side {
          display: flex;
        }

        .nav-wrapper > .left-side > div {
          margin-right: 20px;
          text-transform: uppercase;
          font-size: 0.9rem;
        }

        .nav-link-wrapper {
          height: 22px;
          border-bottom: 1px solid transparent;
          transition: border-bottom 0.5s;
        }

        .active-nav-link {
          border-bottom: 1px solid black;
        }

        .active-nav-link a {
          color: black !important;
        }

        .nav-link-wrapper a {
          color: #8a8a8a;
          text-decoration: none;
          transition: color 0.5s;
        }

        .nav-link-wrapper:hover {
          border-bottom: 1px solid black;
        }

        .nav-link-wrapper a:hover {
          color: black;
        }

        .portfolio-items-wrapper {
          display: grid;
          grid-template-columns: 1fr ;
        }

        .portfolio-item-wrapper {
          position: relative;
        }

        .portfolio-img-background {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          height: 350px;
          width: 100%;
          text-align: center;
        }

        .img-text-wrapper {
          position: absolute;
          top: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          text-align: center;
          padding-left: 100px;
          padding-right: 100px;
        }

        .img-text-wrapper .subtitle {
          transition: 1s;
          color: transparent;
        }

        .image-blur {
          transition: 1s;
          filter: brightness(10%);
        }

        .img-text-wrapper:hover .subtitle {
     color: white;
          font-weight: 600;
        }

        .logo-wrapper img {
          width: 50%;
          margin-bottom: 20px;
        }

        .two-column-wrapper {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }

        .profile-image-wrapper img {
          width: 100%;
        }

        .profile-content-wrapper {
          padding: 30px;
        }

        .profile-content-wrapper h1 {
     color: white;
        }
        .gallery-title h1{
             padding-top: 20px;
              padding-bottom: 20px;
        }
   }
