.sidebar {
  height: 100%;
  width: 400px;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 0;
  background-color: black;
  overflow-y: scroll;
}

.bar {
  display: block;
  height: 5px;
  width: 50px;
  background-color: black;
  margin: 10px auto;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 4.5vh auto;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.nav-right {
  position: fixed;
  right: 40px;
  top: 20px;
}

.nav-right.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: none;
}

.middle {
  margin: 0 auto;
}

.bar {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.nav-right.visible-xs .active .bar {
  background-color: #fff;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.button.active .top {
  -webkit-transform: translateY(15px) rotateZ(45deg);
  -moz-transform: translateY(15px) rotateZ(45deg);
  -ms-transform: translateY(15px) rotateZ(45deg);
  -o-transform: translateY(15px) rotateZ(45deg);
  transform: translateY(15px) rotateZ(45deg);
}

.button.active .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.button.active .middle {
  width: 0;
}

.move-to-left {
  -webkit-transform: translateX(-400px);
  -moz-transform: translateX(-400px);
  -ms-transform: translateX(-400px);
  -o-transform: translateX(-400px);
  transform: translateX(-400px);
}

nav {
  padding-top: 30px;
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin:150px 0;
  text-align: center;
}

.sidebar-item {
  margin: 30px 0;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

.sidebar-item:first-child {
  -webkit-transition: all 0.7s 0.2s ease-in-out;
  -moz-transition: all 0.7s 0.2s ease-in-out;
  -ms-transition: all 0.7s 0.2s ease-in-out;
  -o-transition: all 0.7s 0.2s ease-in-out;
  transition: all 0.7s 0.2s ease-in-out;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all 0.7s 0.4s ease-in-out;
  -moz-transition: all 0.7s 0.4s ease-in-out;
  -ms-transition: all 0.7s 0.4s ease-in-out;
  -o-transition: all 0.7s 0.4s ease-in-out;
  transition: all 0.7s 0.4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all 0.7s 0.6s ease-in-out;
  -moz-transition: all 0.7s 0.6s ease-in-out;
  -ms-transition: all 0.7s 0.6s ease-in-out;
  -o-transition: all 0.7s 0.6s ease-in-out;
  transition: all 0.7s 0.6s ease-in-out;
}
.sidebar-item:nth-child(4) {
  -webkit-transition: all 0.7s 0.6s ease-in-out;
  -moz-transition: all 0.7s 0.6s ease-in-out;
  -ms-transition: all 0.7s 0.6s ease-in-out;
  -o-transition: all 0.7s 0.6s ease-in-out;
  transition: all 0.7s 0.6s ease-in-out;
}

.sidebar-item:last-child {
  -webkit-transition: all 0.7s 0.8s ease-in-out;
  -moz-transition: all 0.7s 0.8s ease-in-out;
  -ms-transition: all 0.7s 0.8s ease-in-out;
  -o-transition: all 0.7s 0.8s ease-in-out;
  transition: all 0.7s 0.6s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.sidebar-anchor {
  color: #fff;
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
}

.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

.ua {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.fa {
  font-size: 1.4em;
  color: black;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.ua:hover .fa {
  color: #fff;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

@media (min-width: 480px) {
  .nav-list {
    display: block;
  }
}

  .nav-right {
    position: absolute;
  }
  .hidden-xs {
    display: block;
  }
  .visible-xs {
    display: none;
  }
@media (max-width: 768px) {
  .sidebar{
    width: 100vw;
  }
  .inner-button{
    display: flex;
    position: fixed;
    font-size: 3.5rem;
    bottom: 0px;
    width: 100vw;
    margin: 0 auto;
    padding: 10px 30px;
    background-color: white;
    align-items: center;
  }
  .inner-button div{
    display: inline-block;
    font-size: 1.5rem;
    width: 75%;
    text-align: center;
    font-weight: 700;
  }
.move-to-left {
  -webkit-transform: translateX(-100vw);
  -moz-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  -o-transform: translateX(-100vw);
  transform: translateX(-100vw);
}
}

.com-btns{
  text-align: center;
  font-size: 1.5rem;
}
.com-btns hr{
  color: white;
}
.com-btns div{
  padding: 10px 0;
}

.com-btns div span{
  padding: 10px;
  /* float: left; */
}

#signup{
  display: inline-block;
  width: 49%;
  margin: 0;
}
#signup a{
  color: white;
  text-decoration: none;
}
#login{
  display: inline-block;
  background-color: white;
  transform: translateX(10px);
  border-right:1px solid white ;
  width: 49%;
  margin: 0;
}
#login a{
  text-decoration: none;
  color: black;
}
#logout a{
  text-decoration: none;
  color: white;
}
.page-content{
  background-color: white;
  min-height: 100vh;
  padding-bottom: 10vh;
}
@media (min-width: 768px) {
.inner-button{
  display: none;
}
}