/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); */

/* * {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
} */

.main-cont{
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
.wrapper {
  font-family: "Raleway", sans-serif;
  display: flex;
  text-align: center;
  padding: 20px 30px;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  max-width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.wrapper .text {
  font-size: 35px;
  padding-top: 10px;
  font-weight: 400;
}

.wrapper p {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

.wrapper .btns {
  display: flex;
  margin: 30px;
}

@media (max-width:1000px){
  .wrapper .btns{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }
}

.btns a {
  position: relative;
  margin: 20px 20px;
  height: 60px;
  width: 200px;
  display: block;
  line-height: 60px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btns a:first-child {
  background: black;
}

.btns a:last-child {
  background: black;
}

.btns a > span {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  animation: ripples 0.6s linear infinite;
}

@keyframes ripples {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }

  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
