body,
html {
  font-family: "Raleway", sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  z-index: 2;
  position: relative;
  height: 100%;
  background-color: white;
  -webkit-transition: transform 0.7s ease-in-out;
  -moz-transition: transform 0.7s ease-in-out;
  -ms-transition: transform 0.7s ease-in-out;
  -o-transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
}

.main_heading{
  padding: 7.5vh 0;
  margin: 0;
  margin-bottom: 2.5vh;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
}