<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo</title>
</head>
<body>
    <h1><%= data.title %></h1>
    <% for(var i=0;i<3;i++){ %>
        <b><%= data.array[i].name%></b> is a <%= data.array[i].age%><br>
    <% } %>
</body>
</html>