<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <title>JUNIOR FORM</title>
</head>

<body>
    <form action="#" onsubmit="detailsfunc();return false">
        <input type="text" id="image" placeholder="image">
        <input type="text" id="instagram" placeholder="instagram">
        <input type="text" id="facebook" placeholder="facebook">
        <input type="text" id="twitter" placeholder="twitter">
        <input type="text" id="linkedin" placeholder="linkedin">
        <input type="text" id="github" placeholder="github">
        <button type="submit">Submit</button>
    </form>
    <script src="./scripts/form.js"></script>
</body>

</html>