<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JUNIOR FORM</title>
</head>
<body>
    <form action="/formSubmit" method="post">
        <input type="text" name="name" id="name" placeholder="name">
        <input type="text" name="image" id="image" placeholder="image">
        <input type="text" name="hobbies" id="hobbies" placeholder="hobbies">
        <button type="submit">Submit</button>
    </form>
</body>
</html>