<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>

    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/navbar.css" />
    <link rel="stylesheet" href="styles/theme.css" />
    <link rel="stylesheet" href="styles/gallery.css">
</head>

  <body>
 <%- include("partials/nav-up.ejs") %>
<div class="container">
    <div class="nav-wrapper">
      <div class="left-side">
        <div class="gallery-title">
          <h1>Gallery</h1>
        </div>
      </div>
    </div>

<div class="content-wrapper">
  <div class="portfolio-items-wrapper">
    <div data-aos="zoom-in-right">
      <div class="portfolio-item-wrapper">
        <div class="portfolio-img-background" style="background-image:url(gallerypics/edited1-01-01.jpeg"></div>

        <div class="img-text-wrapper">
          <div class="subtitle">The King's Cross Station, find your platform 9'3/4 and use your summoning charm to get the most of it-"Accio"</div>
        </div>
    </div>
    </div>


  <div data-aos="zoom-out-up">
      <div class="portfolio-item-wrapper">
        <div class="portfolio-img-background" style="background-image:url(gallerypics/IMG_20191108_171823-02-01.jpeg)"></div>
        <div class="img-text-wrapper">
          <div class="subtitle">Clouds, when you upload all the Harry Potter movies to them</div>
        </div>
      </div>
  </div>



  <div data-aos="zoom-in-left">

    <div class="portfolio-item-wrapper">
      <div class="portfolio-img-background" style="background-image:url(gallerypics/_MG_9231-01.jpeg)"></div>
      <div class="img-text-wrapper">

        <div class="subtitle">From being <br>"I don't want to share my room" to "My floormates are the best"</div>

       </div>
  </div>
    </div>


    <div data-aos="zoom-in-right">
    <div class="portfolio-item-wrapper">
      <div class="portfolio-img-background" style="background-image:url(gallerypics/NDS-110-01.jpeg)"></div>
      <div class="img-text-wrapper">

        <div class="subtitle">Kisi ke "Vaaste" kho matt dena khudko,<br>"Har kisi ko" nhi milta pyaar yahan</div>

      </div>
      </div>
    </div>


    <div data-aos="zoom-out-up">
    <div class="portfolio-item-wrapper">
      <div class="portfolio-img-background" style="background-image:url(gallerypics/IMG20190810182603-01-01.jpeg)"></div>
      <div class="img-text-wrapper">


        <div class="subtitle">Chalte hai kahin ko pahunchne ke liye,<br>Raaste me jo mile dekh lijiye,<br>Safar wapsi ka kabhi pehle sa nhi hota</div>

      </div>
      </div>
    </div>


    <div data-aos="zoom-in-left">

    <div class="portfolio-item-wrapper">
      <div class="portfolio-img-background" style="background-image:url(gallerypics/IMG20200207215907-01-01.jpeg)"></div>
      <div class="img-text-wrapper">


        <div class="subtitle">Coachella or Sunburn ? But definitely Advaita</div>

      </div>
      </div>
    </div>


    <div data-aos="zoom-in-right">

    <div class="portfolio-item-wrapper">
      <div class="portfolio-img-background" style="background-image:url(gallerypics/IMG20190821164234-01.jpeg)"></div>
      <div class="img-text-wrapper">

          <div class="subtitle">As far as your eyes can fathom, you can see nothing,<br> but the administrative block<br> and <br>Girls Hostel</div>

      </div>
      </div>
    </div>


    <div data-aos="zoom-out-up">

    <div class="portfolio-item-wrapper">
      <div class="portfolio-img-background" style="background-image:url(gallerypics/IMG20191016201618-02.jpeg)"></div>
      <div class="img-text-wrapper">


        <div class="subtitle">The Elixir of life or Treasure Hunt? Make sure to find it till the "infinity"</div>
      </div>
      </div>
    </div>


    <div data-aos="zoom-in-left">

    <div class="portfolio-item-wrapper">
      <div class="portfolio-img-background" style="background-image:url(gallerypics/IMG20190821175441-01.jpeg)"></div>
      <div class="img-text-wrapper">


        <div class="subtitle">The Academia or the Hollywood hills, the cloud here will always give you chills</div>
      </div>
      </div>
    </div>


    <div data-aos="zoom-in-right">

    <div class="portfolio-item-wrapper">
      <div class="portfolio-img-background" style="background-image:url(gallerypics/KVu-11-01.jpeg)"></div>
      <div class="img-text-wrapper">


        <div class="subtitle">Every Technical Institute is a Sabji Mandi and fluent Angrezi speakers are Beyoncé of placements</div>
      </div>
      </div>
    </div>



    <div data-aos="zoom-out-up">

    <div class="portfolio-item-wrapper">
      <div class="portfolio-img-background" style="background-image:url(gallerypics/LRM_EXPORT_60414087793168_20190922_171905387-01-01.jpeg)"></div>
      <div class="img-text-wrapper">


        <div class="subtitle">Jo umar bhar na mil sake use saari umar chahna hi ishq hai</div>
      </div>
      </div>
    </div>


    <div data-aos="zoom-in-left">

    <div class="portfolio-item-wrapper">
      <div class="portfolio-img-background" style="background-image:url(gallerypics/IMG20200309204751-01.jpeg)"></div>
      <div class="img-text-wrapper">


        <div class="subtitle">The branch you chose, might always lose here,<br> but we code up everything as if it's a mousse.</div>
      </div>
      </div>
    </div>

  </div>
</div>
</div>
<%- include("partials/nav-down.ejs") %>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
<script>
const portfolioItems = document.querySelectorAll('.portfolio-item-wrapper');

portfolioItems.forEach(portfolioItem => {
portfolioItem.addEventListener('mouseover', () => {
  console.log(portfolioItem.childNodes[1].classList)
  portfolioItem.childNodes[1].classList.add('image-blur');
});

portfolioItem.addEventListener('mouseout', () => {
  console.log(portfolioItem.childNodes[1].classList)
  portfolioItem.childNodes[1].classList.remove('image-blur');
});
});

</script>

</html>
