<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Raleway:wght@400;600&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="styles/navbar.css" />
    <link rel="stylesheet" href="styles/theme.css" />
    <link rel="stylesheet" href="styles/introduction.css">
</head>
<body>
  <%- include("partials/nav-up.ejs") %>
  <div class="page-content">

    <!-- add page content here -->
    <h1 class="main_heading">Introduction</h1>
  
    
    
  </div>
  <%- include("partials/nav-down.ejs") %>
    <script src="scripts/introduction.js"></script>
</body>
</html>