<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Raleway:wght@400;600&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="styles/navbar.css" />
  <link rel="stylesheet" href="styles/theme.css" />
  <link rel="stylesheet" href="styles/quizAns.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" href="https://sweet-modal.adepto.as/css/jquery.sweet-modal.min.css">
</head>

<body>

  <%- include("partials/nav-up.ejs") %>
  <div id="first">
    <div class="page-content">

      <!-- add page content here -->
      <h1 class="main_heading">Quiz Answers</h1>
      <div class="inp-fields">
        <button id="prev">Previous</button>
        <input type="text"  id="id-in">
        <button id="next">Next</button>
      </div>
      <div class="out-fields">
        <h1 id="stuName">1</h1>
        <span id="tip">*try navigating through arrow keys</span>
        <!-- //add fields here -->
      </div>
      <div style="display: flex; justify-content: center;">
        <a href="#" id="download">Download All Responses</a>
      </div>
    </div>
  </div>

  <%- include("partials/nav-down.ejs") %>
  <script src="scripts/quizAns.js"></script>
  <script src="https://sweet-modal.adepto.as/js/jquery.sweet-modal.min.js"></script>
</body>

</html>