<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <meta charset="utf-8">
  <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
  <link rel="stylesheet" href="/styles/validate.css">
</head>

<body>

  <h1 class="title">Validating...I am sure you are not an Imposter</h1>
  <div class="rainbow-marker-loader"></div>
  <script src="/scripts/validate.js"></script>
</body>

</html>