<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <meta charset="utf-8">
    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <!-- <title>Glowing CSS Buttons | CodingNepal</title> -->
    <link rel="stylesheet" href="/styles/validate.css">
  </head>
  <body>
    <div class="buttons">
      <button id="btn">Click to activate</button>
      
    </div>
    <script src="/scripts/validate.js"></script>
</body>
</html>
